#! /bin/bash
# shellcheck disable=2016,2046,2164

# Realod shell
function src() {
	exec "$SHELL"
}

function update-dotfiles() {

	osInfo=("/etc/debian_version:apt-get update && apt-get upgrade"
		"/etc/arch-release:pacman -Syu"
		"/etc/alpine-release:apk -U upgrade")

	for info in "${osInfo[@]}"; do
		os_file="${info%%:*}"
		update_command="${info#*:}"

		if [ -f "$os_file" ]; then
			update_distro="$update_command"
			break
		fi
	done

	if [ -z "$update_distro" ]; then
		printf "Woow! New distro!\n"
		return 1
	fi

	sudo sh -c "${update_distro}" && echo &&
		pushd ~/.dotfiles &&
		git pull && echo &&
		parallel 'cd {} && echo {} && git switch "$(basename "$(git symbolic-ref refs/remotes/origin/HEAD)")" &>/dev/null && git -c color.ui=always pull' ::: "$(git submodule foreach -q sh -c pwd)" &&
		lazygit &&
		stow -Rt ~ */ 2> >(grep -v 'BUG in find_stowed_path? Absolute/relative mismatch' 1>&2) ||
		printf "\nUpdate failed!\n"

	popd &>/dev/null
}

# aliases
alias v="nvim"
alias hx="helix"
alias lg="lazygit"

# tmux
function tx() {
	if [[ -z "$1" ]]; then
		tmux new -As "$(basename "$PWD")" -c "$PWD"
	elif [[ -n "$2" ]]; then
		tmux attach -t "$1" -c "$2" 2>/dev/null || (cd "$2" && tmux new -As "$1")
	else
		tmux new -As "$1"
	fi
}

# exa
alias \
	exa="exa --icons" \
	\
	lx="exa" \
	lxl="lx --long --group --header" \
	lxa="lxl --all --group --header" \
	\
	lxd="lx --only-dirs" \
	lxld="lxl --only-dirs" \
	lxad="lxa --only-dirs" \
	\
	lxg="lxlg" \
	lxlg="lxl --git" \
	lxag="lxa --git" \
	\
	lxdg="lxldg" \
	lxldg="lxl --only-dirs --git" \
	lxadg="lxa --only-dirs --git"

function _lxt_args() {
	if [[ "$1" =~ ^[0-9]+$ ]]; then echo "$1" "${@:2}"; else echo 2 "$@"; fi
}
function lxt() { lx --tree --level $(_lxt_args "$@"); }
function lxlt() { lxl --tree --level $(_lxt_args "$@"); }
function lxat() { lxa --tree --level $(_lxt_args "$@"); }
function lxdt() { lxld --tree --level $(_lxt_args "$@"); }
function lxldt() { lxld --tree --level $(_lxt_args "$@"); }
function lxadt() { lxad --tree --level $(_lxt_args "$@"); }

# explorer.exe
if grep -qi microsoft /proc/version; then
	alias exp="explorer.exe"
fi
