#!/bin/bash

# shellcheck disable=SC2016,SC2035,SC2164

# aliases
alias v="nvim"
alias hx="helix"
alias lg="lazygit"
alias cm="chezmoi"
alias md="mkdir -p"

# Realod shell
function src() {
	exec "$SHELL"
}

function update-dotfiles() {

	upgrade_packages=n

	# If any argument is (-u or --upgrade), upgrade packages
	if [[ "$*" =~ (-u|--upgrade) ]]; then
		upgrade_packages=y
	fi

	# If upgrade_packages is y or Y, upgrade packages
	if [[ "$upgrade_packages" =~ [yY] ]]; then
		osInfo=("/etc/debian_version:sudo apt-get update && sudo apt-get upgrade"
			"/etc/arch-release:sudo pacman -Syu"
			"/etc/alpine-release:sudo apk -U upgrade"
			"/System/Library/CoreServices/SystemVersion.plist:brew update && brew upgrade")

		for info in "${osInfo[@]}"; do
			os_file="${info%%:*}"
			update_command="${info#*:}"

			if [ -f "$os_file" ]; then
				update_distro="$update_command"
				break
			fi
		done

		if [ -z "$update_distro" ]; then
			printf "Woow! New distro!\n"
			return 1
		fi
		sh -c "${update_distro}" && echo
	fi

	_lazystow() {
		([ -n "$(git status --porcelain)" ] && command -v lazygit &>/dev/null && lazygit || true) &&
			stow -Rvt ~ */ 2> >(grep -vE 'BUG in find_stowed_path? Absolute/relative mismatch|UNLINK|(reverts previous action)|Possible precedence issue with control flow' 1>&2)
	}

	[ -d "$HOME/.dotfiles" ] && pushd "$HOME/.dotfiles" >/dev/null &&
		parallel '[ -d "{}" ] && echo {} && cd {} && git switch "$(basename "$(git symbolic-ref refs/remotes/origin/HEAD)")" &>/dev/null && git -c color.ui=always pull || true' ::: "$HOME/.dotfiles" "$(git submodule foreach -q sh -c pwd)" "$HOME/.dotfiles.private" &&
		_lazystow &&
		([ -d "$HOME/.dotfiles.private" ] && pushd "$HOME/.dotfiles.private" >/dev/null && _lazystow) || printf "\nUpdate failed!\n"
	popd &>/dev/null
}

# explorer.exe
if [ -s "/proc/version" ] && grep -qi microsoft /proc/version; then
	alias exp="explorer.exe"
fi

pwd

for file in "$HOME"/.config/bash/.aliases.d/*.aliases; do
	[ -s "$file" ] && source "$file"
done
