# tmux
[submodule "stow/tmux/.config/tmux/plugins/tpm"]
	path = stow/tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "stow/tmux/.config/tmux/plugins/tmux-sensible"]
	path = stow/tmux/.config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "stow/tmux/.config/tmux/plugins/tmux-power"]
	path = stow/tmux/.config/tmux/plugins/tmux-power
	url = https://github.com/huss4in7/tmux-power

# zsh
[submodule "stow/zsh/.config/zsh/.oh-my-zsh"]
	path = stow/zsh/.config/zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "stow/zsh/.config/zsh/custom/themes/powerlevel10k"]
	path = stow/zsh/.config/zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "stow/zsh/.config/zsh/custom/plugins/zsh-completions"]
	path = stow/zsh/.config/zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "stow/zsh/.config/zsh/custom/plugins/zsh-autosuggestions"]
	path = stow/zsh/.config/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "stow/zsh/.config/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = stow/zsh/.config/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "stow/zsh/.config/zsh/custom/plugins/zsh-bash-completions-fallback"]
	path = stow/zsh/.config/zsh/custom/plugins/zsh-bash-completions-fallback
	url = https://github.com/3v1n0/zsh-bash-completions-fallback
[submodule "stow/zsh/.config/zsh/custom/plugins/zsh-history-substring-search"]
	path = stow/zsh/.config/zsh/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "stow/zsh/.config/zsh/custom/plugins/vi-mode"]
	path = stow/zsh/.config/zsh/custom/plugins/vi-mode
	url = https://github.com/nyquase/vi-mode
[submodule "stow/zsh/.config/zsh/custom/plugins/zsh-vimode-visual"]
	path = stow/zsh/.config/zsh/custom/plugins/zsh-vimode-visual
	url = https://github.com/b4b4r07/zsh-vimode-visual
